@{
    ViewBag.Title = "Администрирование";
}
<h4>Здесь вы можете добавлять и изменять песни</h4>
<br/>
<ul>
    <li>
        <a href="~/admin/Theme/Add" >Добавить тему песни</a>
    </li>
    <li>--------------------------------------------------</li>
    <li>
        <a href="~/admin/RussianArtist/Add">Добавить русского исполнителя</a>
    </li>
    <li>
        <a href="~/admin/ForeignArtist/Add">Добавить разубежного исполнителя</a>
    </li>
    <li>--------------------------------------------------</li>
    <li>
        <a href="~/admin/RussianSong/Add">Добавить русскую песню</a>
    </li>
    <li>
        <a href="~/admin/ForeignSong/Add">Добавить разубежную песню </a>
    </li>
</ul>
