
@model List<Gitarist.Models.ViewModels.Artist.PopularArtistCount>
@{
    ViewBag.Title = "Популярные зарубежные исполнители";
}

<h2>Популярные зарубежные исполнители</h2>

<div class="russianArtistsListByLetter">

    @if (Model.Any())
    {
        <table class="table" cellspacing="0" cellpadding="0">
            <tr>
                <th width="90%">
                    Исполнитель
                </th>
                <th width="10%">
                    Подборов
                </th>
            </tr>
            @foreach (var artist in Model)
            {
                <tr>
                    <td>
                     
                        @if (string.IsNullOrEmpty(artist.Artist.ClearUrlName))
                        {
                            <a href="~/ForeignSongs/ArtistSongs/@artist.Artist.Id">@artist.Artist.Name</a>
                        }
                        else
                        {
                            <a href="~/ForeignSongs/ArtistSongs/@artist.Artist.ClearUrlName">@artist.Artist.Name</a>
                        }

                    </td>
                    <td align="center">
                        @artist.SongsCount
                    </td>

                </tr>
            }
        </table>
    }
    else
    {
        <p>Нет популярныъх зарубежных исполнителей</p>
    }

</div>