
@model List<Gitarist.Models.ViewModels.Theme.ThemeSongCount>
@{
    ViewBag.Title = "Русские песни по тематике";
}

<h2>Русские песни по тематике</h2>

@if (!Model.Any())
{
    <p class="listEmprty"> Нет песен по тематикам </p>
}
else
{
    <table width="50%" class="table table-striped">
        <tr>
            <th width="90%">
                Тема
            </th>
            <th width="10%">
                Подборов
            </th>
        </tr>

        @foreach (var themeCount in Model)
        {
            <tr>
                <td>
                    @if ( string.IsNullOrEmpty(themeCount.Theme.clearUrlName))
                    {
                        <a href="~/RussianSongs/ThemeSongs/@themeCount.Theme.id">@themeCount.Theme.name</a>
                    }
                    else
                    { 
                        <a href="~/RussianSongs/ThemeSongs/@themeCount.Theme.clearUrlName">@themeCount.Theme.name</a>
                    }
                    
                </td>
                <td align="center">
                    @themeCount.SongsCount
                </td>
            </tr>
        }

    </table>
}
